<div>
    <p><b>Имя:</b> {{ user.Имя }}</p>
    <p><b>Фамилия:</b> {{ user.Фамилия }}</p>
    <p><b>Отчество:</b> {{ user.Отчество }}</p>
    <p><b>Роль:</b> {{ user.Роль }}</p>
    <p><b>Логин:</b> {{ user.Логин }}</p>
    <p><b>Пароль:</b> {{ user.Пароль }}</p>
    <p><b>Телефон:</b> {{ user.Телефон }}</p>
    <p><b>Отдел:</b> {{ user.Отдел }}</p>
    {% if user.Фото %}
        <p><b>Фото:</b><br /><img src="{{ user.Фото.url }}" alt="Фото пользователя" width="200"></p>
    {% endif %}
</div>
<div>
    <p><b>Имя:</b> {{ user.Имя }}</p>
    <p><b>Фамилия:</b> {{ user.Фамилия }}</p>
    <p><b>Отчество:</b> {{ user.Отчество }}</p>
    <p><b>Роль:</b> {{ user.Роль }}</p>
    <p><b>Логин:</b> {{ user.Логин }}</p>
    <p><b>Пароль:</b> {{ user.Пароль }}</p>
    <p><b>Телефон:</b> {{ user.Телефон }}</p>
    <p><b>Отдел:</b> {{ user.Отдел }}</p>
    {% if user.Фото %}
        <p><b>Фото:</b><br /><img src="{{ user.Фото.url }}" alt="Фото пользователя" width="200"></p>
    {% endif %}
</div>
